@model IEnumerable<CocktailMagician.Web.Models.CityViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cities</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table", id="city_index">
    <thead>
        <tr>
            <th>
                Name
                @*@Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bars)*@

            </th>
        </tr>
    </thead>
    @*<tbody>
        @foreach (var city in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@city.Id">@city.Name</a>

                </td>
                <td>
                    @if (city.Bars.Count != 0)
                    {
                        @string.Join(", ", city.Bars.Select(b => b.Name));
                    }
                    else
                    {
                        @Html.DisplayName("N/A");
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@city.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@city.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@city.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>*@
</table>

<link rel="stylesheet" type="text/css" href="~/DataTables/datatables.css" />

@section Scripts
    {
    <script type="text/javascript" language="javascript" src="~/DataTables/datatables.js"></script>
    <script type="text/javascript" class="init"></script>
    <script>
        $('#city_index').DataTable
            ({
            "ordering" : true,
            "processing" : true,
            "serverSide": true,
            "paging":true,
            "ajax" : {
            "url" : "@Url.Action("Index", "Cities")" ,
            "type" : "POST" ,
            "dataType" : "json" ,
                },
            "columns" : [
                { "data": "name", "name": "Name", "autoWidth": true } ,
                //{ "data": "oldName", "name": "oldName", "autoWidth": true },

            ]});
    </script>
}