@model CocktailMagician.Web.Models.CocktailViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/StarRating/css/star-rating.css" media="all" rel="stylesheet" type="text/css" />

<h4>@Html.DisplayFor(model => model.Name) Details</h4>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bars)
        </dt>
        <dd class="col-sm-10">
            @foreach (var bar in Model.Bars)
            {
                <a style="margin: 0 2px;" class="btn btn-outline-info" href="/bars/Details/@bar.Id">@bar.Name</a>
            }
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredients)
        </dt>
        <dd class="col-sm-10">
            @foreach (var ingredient in Model.Ingredients)
            {
                <a style="margin: 0 2px;" class="btn btn-outline-info" href="/ingredients/Details/@ingredient.Id">@ingredient.Name</a>
            }
        </dd>
    </dl>
</div>
<div class="form-group">
    <label asp-for="AverageRating" class="control-label" style="font-weight:bold"></label>
    <span asp-validation-for="AverageRating" class="text-danger"></span>
</div>
<div>
    <img src="@Model.ImageSource" style="width: 150px; height: 150px;" />
</div>
<div>
    <hr />
    @if (User.IsInRole("Bar Crawler"))
    {
        <a style="margin: 0 2px;" class="btn btn-outline-info" href="/CocktailReviews/Create/@Model.Id">Rate & Comment</a>
    }
    @if (User.IsInRole("Cocktail Magician"))
    {
        <a style="margin: 0 2px;" class="btn btn-outline-info" href="/Cocktails/Edit/@Model.Id">Edit</a>
        <a style="margin: 0 2px;" class="btn btn-outline-info" href="/Cocktails/Delete/@Model.Id">Delete</a>
    }
    <a class="btn btn-outline-danger font-weight-bold" asp-controller="CocktailReviews" asp-action="CocktailReviews"
       asp-route-id="@Model.Id">Check all reviews</a>

    <a class="btn btn-outline-danger font-weight-bold" asp-controller="Cocktails" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>$("#AverageRating").rating({ min: 0, max: 5, step: 0.5, size: 'md', displayOnly: true});</script>
}